<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="IstitutoConnection"
		  connectionString="Data Source=DESKTOP-JDVOH45;Initial Catalog=InstitutoTich;User ID=sa;password=tich"
		  providerName="System.Data.SqlClient"
     />
	</connectionStrings>
</configuration>