@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>TI Capital Humano</h1>
    <p class="lead">Sistema de Control Escolar usando HTML, CSS and JavaScript.</p>
    <p><a href="https://ti-capitalhumano.com/" class="btn btn-primary btn-lg">Saber más de TICH &raquo;</a></p>
</div>

